{
    "require": [
        "ts-node/register"
    ],
    "reporter": [
        "text",
        "json"
    ],
    "include": [
      "src/**/*.ts"
    ],
    "extension": [
        ".ts"
    ],
    "sourceMap": true,
    "instrument": true
}